.otp-label {
    margin: 5px;
    padding: 5px;
    font-size: large;
}

.secret-input {
    margin: 5px;
    padding: 5px;
    width: 350px;
}

.set-secret-button {
    margin: 5px;
    padding: 5px;
}

.otp-code {
    margin: 5px;
    padding: 5px;
    font-size: large;
}

.time-remaining {
    margin: 5px;
    padding: 5px;
    font-size: large;
}
