@page "/"

<h1>TOTP Code</h1>

<div>
    <div>
        <label for="secretInput">Enter your secret:</label>
    </div>
    <div>
        <input id="secretInput" type="text" @bind=secret />
    </div>
</div>

<div>
    <button type="button" @onclick="SetSecret">Get Codes</button>
</div>

<div>
    Code: @otpCode
</div>

<div>
    Time: @remainingTime
</div>
